.navBar{
    background-color: #48b1a3;
    color: #ffffff;
    size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 10px;
}

h3{
    font-size: 20px;
}

.MuiButton-contained{
    margin: 5px;
}