.navBar {
    background-color: #343b3a;
    color: #ffffff;
    size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 10px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin-bottom: 1px;
}
.logoNavBar a{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3, a{
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.MuiButton-contained{
    margin: 5px;
}